{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Epitom</title>
    <meta charset="utf-8">
    <meta name="viewport"  content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Merienda' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Lobster ' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'images'%}" >
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>
    <!-- bootstrap 4 js -->
    <script type="text/javascript" src="{ static 'bs4/bootstrap.min.js' }"></script>

</head>
<body style="background-color: rgb(238, 223, 238); font-family: Sans-serif;">
    

<style>
    ul{
      margin-left: 800px;
    }
    @media(max-width: 1400px){
      ul{
        margin-left: 200px;
      }
    
    }
  </style>
  
  <nav class="navbar navbar-expand-lg bg-primary">
    <a class="navbar-brand text-light font-weight-bold" style="font-family: 'Merienda'; font-size: 40px;" href="#">Epitom</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="fa-solid fa-bars" style="color: wheat;"></i></span>
    </button>
  
    <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-light" href="#"><b>Home</b> <span class="sr-only">(current)</span></a>
        </li>
  
      
        
          <a class="nav-link text-light" href="#">Profile</a>
          <a class="nav-link text-light" href="#">logout</a>
          <a class="nav-link text-light" href="#">neighbourhood</a>
          <a class="nav-link text-light" href="#">create</a>
  
         
        <li class="nav-item">
            <a class="nav-link text-light text-center font-weight-bold" href="#">login</a>
          </li>
          <li class="nav-item">
            <a style="border-radius: 15px; margin-left: 30px;" class="text-right nav-link text-light font-weight-bold"  href="#">sign up</a>
          </li>
        
      </ul>
      
    </div>
  </nav>
  
      {% block content %}
      {% endblock %}


  <!-- <footer class="pt4 my-md-5 border-top container">
      <div class="row">
          <div class="col-12 col-md">
              <a href="#">Epitom</a>
              <small class="d-block mb-3 text-muted"> &copy; 2021-2022</small>
          </div>
          <div class="col-6 col-md">
              <h5>Features</h5>

              <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">cool service</a></li>
                  <li><a class="text-muted" href="#">Random Features</a></li>
                  <li><a class="text-muted" href="#">Team Features</a></li>
                  <li><a class="text-muted" href="#">Stuff for developers</a></li>
                  <li><a class="text-muted" href="#">Team work</a></li>
                  <li><a class="text-muted" href="#">respect</a></li>
              </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Resource</a></li>
                <li><a class="text-muted" href="#">named Resource</a></li>
                <li><a class="text-muted" href="#">Find Resource</a></li>
                <li><a class="text-muted" href="#">final Resource</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Team</a></li>
                <li><a class="text-muted" href="#">Location</a></li>
                <li><a class="text-muted" href="#">Privacy</a></li>
                <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
        </div>
      </div>
  </footer> -->


</body>
</html>